<?xml version="1.0"?>
<config>
  <modules>
    <CommerceExtensions_BusinessDirectory>
      <version>1.5.1</version>
    </CommerceExtensions_BusinessDirectory>
  </modules>
  <global>
    <blocks>
      <businessdirectory>
        <class>CommerceExtensions_BusinessDirectory_Block</class>
      </businessdirectory>
    </blocks>
    <models>
      <businessdirectory>
        <class>CommerceExtensions_BusinessDirectory_Model</class>
        <resourceModel>commerceextensions_businessdirectory_resource</resourceModel>
      </businessdirectory>
      <commerceextensions_businessdirectory_resource>
        <class>CommerceExtensions_BusinessDirectory_Model_Resource</class>
        <entities>
          <directory>
            <table>commerceextensions_businessdirectory_directory</table>
          </directory>
          <directory_store>
            <table>commerceextensions_businessdirectory_store</table>
          </directory_store>
          <directory_staticfilter>
            <table>commerceextensions_businessdirectory_staticfilter</table>
          </directory_staticfilter>
          <directory_staticfilter_content>
            <table>commerceextensions_businessdirectory_staticfilter_content</table>
          </directory_staticfilter_content>
          <directory_listing>
            <table>commerceextensions_businessdirectory_listing</table>
          </directory_listing>
          <directory_listing_submit>
            <table>commerceextensions_businessdirectory_submit</table>
          </directory_listing_submit>
        </entities>
      </commerceextensions_businessdirectory_resource>
    </models>
    <helpers>
      <businessdirectory>
        <class>CommerceExtensions_BusinessDirectory_Helper</class>
      </businessdirectory>
    </helpers>
    <template>
      <email>
        <businessdirectory_emails_profile_new_submit_template translate="label" module="businessdirectory">
          <label>Business Directory New Listing Submission</label>
          <file>commerceextensions/businessdirectory/new_submit.html</file>
          <type>html</type>
        </businessdirectory_emails_profile_new_submit_template>
        <businessdirectory_emails_profile_new_standard_approve_template translate="label" module="businessdirectory">
          <label>Business Directory New Standard Listing Approval</label>
          <file>commerceextensions/businessdirectory/new_standard_approve.html</file>
          <type>html</type>
        </businessdirectory_emails_profile_new_standard_approve_template>
        <businessdirectory_emails_profile_new_featured_approve_template translate="label" module="businessdirectory">
          <label>Business Directory New Featured Listing Approval</label>
          <file>commerceextensions/businessdirectory/new_featured_approve.html</file>
          <type>html</type>
        </businessdirectory_emails_profile_new_featured_approve_template>
        <businessdirectory_emails_profile_claim_submit_template translate="label" module="businessdirectory">
          <label>Business Directory Claimed Listing Submission</label>
          <file>commerceextensions/businessdirectory/claim_submit.html</file>
          <type>html</type>
        </businessdirectory_emails_profile_claim_submit_template>
        <businessdirectory_emails_profile_claim_standard_approve_template translate="label" module="businessdirectory">
          <label>Business Directory Claimed Standard Listing Approval</label>
          <file>commerceextensions/businessdirectory/claim_standard_approve.html</file>
          <type>html</type>
        </businessdirectory_emails_profile_claim_standard_approve_template>
        <businessdirectory_emails_profile_claim_featured_approve_template translate="label" module="businessdirectory">
          <label>Business Directory Claimed Featured Listing Approval</label>
          <file>commerceextensions/businessdirectory/claim_featured_approve.html</file>
          <type>html</type>
        </businessdirectory_emails_profile_claim_featured_approve_template>
        <businessdirectory_emails_profile_update_submit_template translate="label" module="businessdirectory">
          <label>Business Directory Updated Listing Submission</label>
          <file>commerceextensions/businessdirectory/update_submit.html</file>
          <type>html</type>
        </businessdirectory_emails_profile_update_submit_template>
        <businessdirectory_emails_profile_update_standard_approve_template translate="label" module="businessdirectory">
          <label>Business Directory Updated Standard Listing Approval</label>
          <file>commerceextensions/businessdirectory/update_standard_approve.html</file>
          <type>html</type>
        </businessdirectory_emails_profile_update_standard_approve_template>
        <businessdirectory_emails_profile_update_featured_approve_template translate="label" module="businessdirectory">
          <label>Business Directory Updated Featured Listing Approval</label>
          <file>commerceextensions/businessdirectory/update_featured_approve.html</file>
          <type>html</type>
        </businessdirectory_emails_profile_update_featured_approve_template>
        <businessdirectory_emails_profile_update_upgrade_approve_template translate="label" module="businessdirectory">
          <label>Business Directory Upgrade to Featured Listing Approval</label>
          <file>commerceextensions/businessdirectory/update_upgrade_approve.html</file>
          <type>html</type>
        </businessdirectory_emails_profile_update_upgrade_approve_template>
      </email>
    </template>
    <resources>
      <businessdirectory_setup>
        <setup>
          <module>CommerceExtensions_BusinessDirectory</module>
        </setup>
      </businessdirectory_setup>
    </resources>
    <events>
      <controller_front_init_routers>
        <observers>
          <directory>
            <class>CommerceExtensions_BusinessDirectory_Controller_DirectoryRouter</class>
            <method>initControllerRouters</method>
          </directory>
        </observers>
      </controller_front_init_routers>
      <controller_front_init_routers>
        <observers>
          <listing>
            <class>CommerceExtensions_BusinessDirectory_Controller_ListingRouter</class>
            <method>initControllerRouters</method>
          </listing>
        </observers>
      </controller_front_init_routers>
      <businessdirectory_profile_new_submit_after>
        <observers>
          <sendEmail>
            <class>CommerceExtensions_BusinessDirectory_Model_Email_Observer</class>
            <method>sendEmail</method>
          </sendEmail>
        </observers>
      </businessdirectory_profile_new_submit_after>
      <businessdirectory_profile_new_standard_approve_after>
        <observers>
          <sendEmail>
            <class>CommerceExtensions_BusinessDirectory_Model_Email_Observer</class>
            <method>sendEmail</method>
          </sendEmail>
        </observers>
      </businessdirectory_profile_new_standard_approve_after>
      <businessdirectory_profile_new_featured_approve_after>
        <observers>
          <sendEmail>
            <class>CommerceExtensions_BusinessDirectory_Model_Email_Observer</class>
            <method>sendEmail</method>
          </sendEmail>
        </observers>
      </businessdirectory_profile_new_featured_approve_after>
      <businessdirectory_profile_claim_submit_after>
        <observers>
          <sendEmail>
            <class>CommerceExtensions_BusinessDirectory_Model_Email_Observer</class>
            <method>sendEmail</method>
          </sendEmail>
        </observers>
      </businessdirectory_profile_claim_submit_after>
      <businessdirectory_profile_claim_standard_approve_after>
        <observers>
          <sendEmail>
            <class>CommerceExtensions_BusinessDirectory_Model_Email_Observer</class>
            <method>sendEmail</method>
          </sendEmail>
        </observers>
      </businessdirectory_profile_claim_standard_approve_after>
      <businessdirectory_profile_claim_featured_approve_after>
        <observers>
          <sendEmail>
            <class>CommerceExtensions_BusinessDirectory_Model_Email_Observer</class>
            <method>sendEmail</method>
          </sendEmail>
        </observers>
      </businessdirectory_profile_claim_featured_approve_after>
      <businessdirectory_profile_update_submit_after>
        <observers>
          <sendEmail>
            <class>CommerceExtensions_BusinessDirectory_Model_Email_Observer</class>
            <method>sendEmail</method>
          </sendEmail>
        </observers>
      </businessdirectory_profile_update_submit_after>
      <businessdirectory_profile_update_standard_approve_after>
        <observers>
          <sendEmail>
            <class>CommerceExtensions_BusinessDirectory_Model_Email_Observer</class>
            <method>sendEmail</method>
          </sendEmail>
        </observers>
      </businessdirectory_profile_update_standard_approve_after>
      <businessdirectory_profile_update_featured_approve_after>
        <observers>
          <sendEmail>
            <class>CommerceExtensions_BusinessDirectory_Model_Email_Observer</class>
            <method>sendEmail</method>
          </sendEmail>
        </observers>
      </businessdirectory_profile_update_featured_approve_after>
      <businessdirectory_profile_update_upgrade_approve_after>
        <observers>
          <sendEmail>
            <class>CommerceExtensions_BusinessDirectory_Model_Email_Observer</class>
            <method>sendEmail</method>
          </sendEmail>
        </observers>
      </businessdirectory_profile_update_upgrade_approve_after>
    </events>
  </global>
  <frontend>
    <secure_url>
      <businessdirectory_profile_login>/businessdirectory/profile/login</businessdirectory_profile_login>
      <businessdirectory_profile_register>/businessdirectory/profile/register</businessdirectory_profile_register>
      <businessdirectory_profile_new>/businessdirectory/profile/new</businessdirectory_profile_new>
      <businessdirectory_profile_claim>/businessdirectory/profile/claim</businessdirectory_profile_claim>
      <businessdirectory_profile_update>/businessdirectory/profile/update</businessdirectory_profile_update>
    </secure_url>
    <events>
      <businessdirectory_listing_collection_load_before>
        <observers>
          <listingFilter>
            <class>businessdirectory/observer</class>
            <method>listingFilter</method>
          </listingFilter>
        </observers>
      </businessdirectory_listing_collection_load_before>
      <businessdirectory_featured_collection_load_before>
        <observers>
          <featuredListingFilter>
            <class>businessdirectory/observer</class>
            <method>featuredListingFilter</method>
          </featuredListingFilter>
        </observers>
      </businessdirectory_featured_collection_load_before>
    </events>
    <layout>
      <updates>
        <businessdirectory>
          <file>commerceextensions/businessdirectory.xml</file>
        </businessdirectory>
      </updates>
    </layout>
    <routers>
      <businessdirectory>
        <use>standard</use>
        <args>
          <module>CommerceExtensions_BusinessDirectory</module>
          <frontName>businessdirectory</frontName>
        </args>
      </businessdirectory>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <businessdirectory>
          <file>commerceextensions/businessdirectory.xml</file>
        </businessdirectory>
      </updates>
    </layout>
    <acl>
      <resources>
		<all>
			<title>Allow Everything</title>
		</all>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <businessdirectory translate="title" module="businessdirectory">
                      <title>Business Directory</title>
                      <sort_order>1140</sort_order>
                    </businessdirectory>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <businessdirectory before="Mage_Adminhtml">CommerceExtensions_BusinessDirectory_Adminhtml</businessdirectory>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
</config>  